<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Score List</title>
</head>
<body>
    <div id="container" style="align-content: center;">
        <script>
            fetch("/getData").then(function(data)
            {
                data.json().then(function(players)
                {
                    console.log(players);

                    var scoreArr = [];
                    var i = 0;
                    for(let eachScore of players.data)
                    {
                        scoreArr[i] = eachScore;
                        i++;
                    }

                    //Array sort with compare function
                    scoreArr.sort(function(a,b){return b.data-a.data});

                    for(let eachScore of scoreArr)
                    {
                        //Creates paragraph?
                        var scoreElement = document.createElement('p');
                        //Sets the innerHTML in this case text of the paragraph
                        scoreElement.innerHTML = eachScore.playerName +"-"+ eachScore.score;
                        //Appends the paragrahp to the cotainer div
                        document.getElementById("container").appendChild(scoreElement);
                    }
                });
            });
        </script>

    </div>
</body>
</html>