<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>

    <h1>Food Stuff</h1>
    <ol>
        <li>Chicken Soup</li>
        <li>Pizza</li>
        <li>Candy</li>
        <li>Chocolate</li>
        <li>Cereal</li>
        <li>Fruit</li>
        <li>Vegetables</li>
        <li>Pumpkin Pie</li>
        <li>Apple Pie</li>
        <li>CAKE</li>
    </ol>

    <h2>Why I Chose the Topic?</h2>
    <p>Spicy jalapeno bacon ipsum dolor amet tri-tip biltong landjaeger pancetta, strip steak bresaola meatball ham cow flank ball tip spare ribs drumstick jowl. Ground round bresaola ball tip 
        frankfurter drumstick hamburger chuck. Short loin beef ribs rump, flank short ribs pork loin picanha drumstick pork chop beef pork belly frankfurter corned beef chuck. Pork loin biltong ribeye salami, 
        turkey drumstick venison pork chop porchetta capicola hamburger shank beef ribs tail.
    </p>

    <a href="login.html">Login</a>
    <a href="newEntries.html">New Entry</a>
    
</body>
</html>