<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>

    <h1>Food Stuff</h1>
    <ol>
        <li>Chicken Soup</li>
        <li>Pizza</li>
        <li>Candy</li>
        <li>Chocolate</li>
        <li>Cereal</li>
        <li>Fruit</li>
        <li>Vegetables</li>
        <li>Pumpkin Pie</li>
        <li>Apple Pie</li>
        <li>CAKE</li>
    </ol>

    <h2>Why I Chose the Topic?</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quo sed alias accusantium, 
        a quam temporibus molestiae id, reiciendis quos vitae dolore dolorem impedit nobis sit nisi, ad consectetur at!</p>

    <a href="login.html">Login</a>
    <a href="newEntries.html">New Entry</a>
    
</body>
</html>