<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container" style="align-content: center;">
        <h1 >High Score List</h1>
        <nav>
            <a href="index.html">Play Again</a>
            <a href="#"></a>
        </nav>

        <script>
            fetch("/getData").then(function(scores)
            {
                scores.json().then(function(theScores)
                {
                    console.log(theScores);

                    var scoreArr = [];
                    var i = 0;
                    for(let eachScore of theScores.score)
                    {
                        scoreArr[i] = eachScore;
                        i++;
                    }

                    //Array sort with compare function
                    scoreArr.sort(function(a,b){return b.score-a.score});

                    for(let eachScore of scoreArr)
                    {
                        //Creates paragraph?
                        var scoreElement = document.createElement('p');
                        //Sets the innerHTML in this case text of the paragraph
                        scoreElement.innerHTML = eachScore.player +"-"+ eachScore.score;
                        //Appends the paragrahp to the cotainer div
                        document.getElementById("container").appendChild(scoreElement);
                    }
                });
            });
        </script>
    </div>
</body>
</html>